body {
    background-image: url(imagens/espaco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display: block;
    margin: auto;
    width: 20%;
    padding-top: 100px  ;
}