@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #B79E81 , #CFB18C);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #B0805B;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #B0805B;
    text-align: center;
    text-shadow: 1px 1px 2px #5E3423;
}

h2 {
    color: #614b37;
}


p {
    text-align: justify;
}

